<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://external.benco.com/nsm2012/"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.benco.nsm2012"
        versionCode="10" 
        version   = "1.0.0">
		
    <name>NSM</name>

    <description>
        Config file for the application.
    </description>
	
	<author href="http://www.benco.com" email="lbarrett@benco.com">Liz Barrett</author>

	<preference name="fullscreen" value="true" />

	
    <gap:splash src="/splashscreen.png" />


</widget>